[submodule "raspi-info-display"]
	path = raspi-info-display
	url = https://github.com/3vilM33pl3/raspi-info-display.git
[submodule "kubespray"]
	path = kubespray
	url = git@github.com:3vilM33pl3/kubespray.git
